#TouchdownDisplay {
    width: 100%;
    height: 100%;
}

#TouchdownDisplay table {
    width: 100%;
}

#TouchdownDisplay td {
    padding: calc(var(--screenHeight) * (3px / 1080)) 0;
    white-space: nowrap;
}

#TouchdownDisplay .name {
    width: 50%;
}

#TouchdownDisplay .value {
    width: 50%;
    text-align: right;
}

#TouchdownDisplay svg.icon {
    height: var(--fontSizeParagraph);
    transform: translate(0, calc(var(--screenHeight) * (3px / 1080)));
    fill: white;
}
